body {
    font-family: 'Nunito', sans-serif;
    /* BACKGROUND CHANGE */
    background-image: 
        radial-gradient(100% 50% at 100% 100%, #ffffff,5% ,transparent);
    background-color:#c7edcc; 
    /* GENERAL TEXT COLOR CHANGE */
    color: #06330c;
}

hr {
    width: 100%;
    background-color: #06330c; /* Changed from #ccc to general text color */
    align-self: center;
}

a,
a:visited {
    text-decoration: none;
    /* Changed from #fff to general text color */
    color: #06330c;
    font-weight: bold;
}
a:hover {
    /* Interaction Color */
    color: #DF52FF
}

.name {
    margin: 2vw auto 10vw 2vw;
    font-size: 4vw;
    /* Highlight/Title Color */
    color: #06330c;
    font-weight: bold;
}

.highlight {
    font-weight: bold;
    /* Highlight Text Color */
    color: #06330c; 
}

.summary {
    /* Changed from #bbb to general text color */
    color: #06330c; 
    max-width: 80vw;
    font-size: 3vw;
    margin: 10vw auto 10vw auto;
    text-align: center;
}
.summary a{
    font-weight: normal;
}

.contact {
    max-width: 60vw;
    font-size: 2vw;
    margin: 10vw auto 10vw auto;
    text-align: right;
}

.past {
    max-width: 60vw;
    margin: 10vw auto 10vw auto;
    display: flex;
    flex-flow: column;
}

.experience {
    margin-top: 2vw;
    display:flex;
}

.logo {
    width: 5vw;
    height: 5vw;
    flex:0 1 auto;
    align-self: center;
}

.round {
    border-radius: 50%;
}

.description {
    /* Border color changed */
    border-left: 1px solid #06330c;
    width:100%;
    margin-left: 2vw;
    padding-left: 2vw;
    display: flex;
    flex-flow: column;
}

.institute {
    margin: 0.5vw;
    font-size: 1.6vw;
    font-weight: bold;
    /* Secondary Highlight/Interaction Color */
    color: #FFa600;
    opacity: 0.75;
    text-align: left;
}

.position {
    display:flex;
    width: 100%;
    justify-content: space-between;
}

.title{
    margin: 0.5vw;
    font-size: 2vw;
    /* Changed from #aaa to general text color */
    color:#06330c;
    font-weight: bold;
    flex: 0 1 auto;
    align-self: flex-end;
}

.time {
    font-size: 1vw;
    text-align: right;
    opacity: 0.5;
    font-weight: bold;
    flex: 0 2 auto;
    align-self: flex-end;
}