@media (max-width: 1000px){
    hr {
        width: 100%;
        /* Changed from #ccc to general text color */
        background-color: #06330c;
        align-self: center;
    }

    .name {
        margin: 20px auto 100px 20px;
        font-size: 40px;
        /* Highlight/Title Color */
        color: #06330c;
        font-weight: bold;
    }

    .thesis {
        /* Changed from #bbb to general text color */
        color: #06330c;
        max-width: 800px;
        font-size: 5vw;
    }

    .thesis .vision {
        flex-direction: column;
        .current {font-size: 3vw}
    }

    .comments {
        font-size: 4vw;
        margin-top: 10vw
    }

    .contact {
        max-width: 600px;
        font-size: 20px;
        margin: 50px auto 100px 20px;
        text-align: right;
    }

    .past {
        max-width: 600px;
        margin: 100px auto 100px auto;
        display: flex;
        flex-flow: column;
    }

    .experience {
        margin-top: 20px;
        display:flex;
    }

    .logo {
        width: 50px;
        height: 50px;
        flex:0 1 auto;
        align-self: center;
    }

    .round {
        border-radius: 50%;
    }

    .description {
        /* Border color changed */
        border-left: 1px solid #06330c;
        width:100%;
        margin-left: 20px;
        padding-left: 20px;
        display: flex;
        flex-flow: column;
    }

    .institute {
        margin: 5px;
        font-size: 16px;
        font-weight: bold;
        /* Secondary Highlight/Interaction Color */
        color: #FFa600;
        opacity: 0.75;
        text-align: left;
    }

    .position {
        display:flex;
        width: 100%;
        justify-content: space-between;
    }

    .title{
        margin: 5px;
        font-size: 20px;
        /* Changed from #aaa to general text color */
        color:#06330c;
        font-weight: bold;
        flex: 0 1 auto;
        align-self: flex-end;
    }

    .time {
        font-size: 10px;
        text-align: right;
        opacity: 0.5;
        font-weight: bold;
        flex: 0 2 auto;
        align-self: flex-end;
    }

    #scroll-hint-banner {
        font-size: 5vw;
    }
}