body {
  font-family: 'Nunito', sans-serif;
  background-image: 
    radial-gradient(50px 50px at 100% 100%, #ffffff, transparent),
    radial-gradient(100% 100% at 100% 100%, #ffffff,5%,#051005);
  color: #eee;
}

hr {
  border-top: 1px solid #ccc;
}

a,
a:hover,
a:visited {
  text-decoration: none;
  color: #fd0;
  font-weight: bold;
}

.name {
  font-size: 30px;
  margin: 20px auto 100px 20px;
}

.highlight {
  font-weight: bold;
  color: #fafafa;
}

.summary {
  color: #bbb;
  max-width: 800px;
  font-size: 40px;
  margin: 100px auto 100px auto;
  text-align: center;
}

.contact {
  max-width: 800px;
  font-size: 20px;
  margin: 100px 10px 100px auto;
  text-align: end;
}

.past {
  max-width: 800px;
  margin: 100px auto 50px auto;
  display: table;
}

.experience {
  width:100%;
  margin-top: 20px;
  display:flex;
}

.logo {
  height: 50px;
  transform: translateY(5%);
  flex:0 1 auto
}

.round {
  border-radius: 50%;
}

.description {
  border-left: 1px solid #ccc;
  margin-left: 20px;
  padding-left: 20px;
  flex:0 1 auto;
}

.position,
.institute {
  margin: 5px;
  font-size: 20px;
}
.time {
  margin: 5px;
  font-size: 12px;
  flex: 1 1 auto;
  text-align: right;
  align-self: flex-end;
}
